<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MVC Demo</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/shared")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.HttpRouteUrl(this.Culture==GlobalHelper.DefaultCulture ? "Default" : "LocalizedDefault",new { lang=GlobalHelper.CurrentCulture, action="Index", controller="Home"})">@RGlobal.Home</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.HttpRouteUrl(this.Culture==GlobalHelper.DefaultCulture ? "Default" : "LocalizedDefault",new { lang=GlobalHelper.CurrentCulture, action="Index", controller="Home"})">@RGlobal.Home</a></li>
                    <li><a href="@Url.HttpRouteUrl(this.Culture==GlobalHelper.DefaultCulture ? "Default" : "LocalizedDefault",new { lang=GlobalHelper.CurrentCulture, action="About", controller="Home"})">@RGlobal.About</a></li>
                    <li><a href="@Url.HttpRouteUrl(this.Culture==GlobalHelper.DefaultCulture ? "Default" : "LocalizedDefault",new { lang=GlobalHelper.CurrentCulture, action="Contact", controller="Home"})">@RGlobal.Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
        <div class="row">
                    <div class="col-md-12 text-left">
                        <p>&copy; @DateTime.Now.Year - @RGlobal.CopyText</p>
                    </div>
                </div>
        </footer>
        <ul class="langs" style="list-style:none;">
             <li style="display:inline;">
                <a href="" class="setLang" data-lang="fr-FR"><img src="@Url.GetImage("france.png", false)" /></a>
            </li>
            <li style="display:inline;">
                <a href="" class="setLang" data-lang="es-es"><img src="@Url.GetImage("Spain.png",false)" /></a>
            </li>
            <li style="display:inline;">
                <a href="" class="setLang" data-lang="en-US"><img src="@Url.GetImage("United-States-of-America.png", false)" /></a>
            </li>
        </ul>
    </div>

    
    @Scripts.Render("~/bundles/bootstrap")
    
    
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {

            var lang = MultiLanguageDemo.Cookies.getCookie("LangForMultiLanguageDemo");
            $(".setLang[data-lang='" + lang + "'] img").addClass("active-lang");

            $(".setLang").on("click", function (event) {
                var lang = $(this).attr("data-lang");
                MultiLanguageDemo.Cookies.setCookie("LangForMultiLanguageDemo", lang, 30);
                location.reload(true);
            })
        });
    </script>

</body>
</html>
